*{
    margin: 0px;
    padding: 0;
}
.header{
    padding: 40px 20px 40px 20px;
}
.text{
    margin-left: 100px;
    padding: 10px 5px 10px 5px;
    font-size: 20px;
    padding-left: 10px;
}
.container{
    width: 90%;
    
}
header{
    background-color:rgb(27, 24, 24);
    height: 100px;
    margin-bottom: 10px;
    padding-left: 0px;
    padding-top: 10px;
    width: 111%;
}
input{
    width:500px;
    height: 20%;
    margin-left: 5px;
    margin-right: 5px;
    background-color: black;
    border:1px solid darkgray;
    color: darkgray;
    padding-left: 20px;
}
img{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin-left:7px;
}
hr{
    margin-top: 10px;
}
.All{
    width:auto;
    height: 10px;
    background-color:rgb(27, 24, 24) ;
    display: flex;
    margin-left: 200px;
    padding-left:10px;
}
button{
    margin-left: 10px;
    margin-top: 10px;
    display:inline-flex;
    padding: 1px 2px 1px 2px ;
    padding-left: 9px;
    padding-right: 3px;
}
.orign{
    width:15%;
    height:10%;
    background-color:rgb(27, 24, 24);
    margin-top: 0;
}
li:hover{
    background-color: gray;
    text-align: left;
    border: 1px soild black;
    width: 90%;
}
li{
    padding-bottom: 10px;
    padding-top: 10px;
    list-style-type:none;
    font-size: 20px;
}
aside{
    display: block;
}
.fish{
    width: 300px;
    height: 170px;
    border-radius:0px;
    margin-left:230px;
    margin-top: 25px;
    margin-bottom: 8px;
}
.gp{
    width: 550px;
    height: 350px;
    margin-top: 0;
}
.general{
    display: flex;
}
body{
    background-color: black;
}
.p1{
    margin-left: 230px;
}
.cute{
    width: 300px;
    height: 170px;
    border-radius:0px;
    margin-left:230px;
    margin-top: 0.10px;
    margin-bottom: 10px;
}
.p2{
    margin-left: 230px;
}
.non{
    width: 300px;
    height: 170px;
    border-radius:0px;
    margin-left:230px;
    margin-top: 0.10px;
    margin-bottom: 10px
}
.p3{
    margin-left: 230px;
}
.caki1{
    display: flex;
}
.caki2{
    margin-left: -180px;
    margin-top: 26px;
}
.caki3{
    margin-left: -180px;
    margin-top: 26px;
}
.com{
    width: 300px;
    height: 170px;
    border-radius:0px;
    margin-left:230px;
    margin-top: 25px;
    margin-bottom: 8px;
}
.p4{
    margin-left: 230px;
}
.som{
    width: 300px;
    height: 170px;
    border-radius:0px;
    margin-left:230px;
    margin-top: 0,10px;
    margin-bottom: 10px
}
.som:hover{
    width:20%;
    height: 30%;
    transition-timing-function: 3s 2s;
}
.p5{
      margin-left: 230px;
}
.dom{
    width: 300px;
    height: 170px;
    border-radius:0px;
    margin-left:230px;
    margin-top: 0.10px;
    margin-bottom: 10px
}
.p6{
    margin-left: 230px;
}
.caki4{
    display: flex;
}
.caki5{
    margin-left: -180px;
    margin-top: 26px;
}
.caki6{
    margin-left: -180px;
    margin-top: 26px;
}